body {
  overflow: hidden;
  position: relative;
  border: 1px black solid;
  border-radius: 10px;
  background-color: rgb(22, 22, 22);
  color: aliceblue;
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-top: 10%;
  align-items: center;
  border: none;
}

.dnd {
  
  background-color: rgb(40, 40, 40);
  border: 1px black solid;
  width: 12rem;
  height: 12rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5rem;
  border-radius: 10px;
  margin: 10px;
}

.dndA {

  border: 1px rgb(0, 187, 255) solid;
  background-color: rgba(61, 161, 243, 0.214);
  width: 12rem;
  height: 12rem;
  text-align: center;
  padding: 5rem;
  border-radius: 10px;
  margin: 10px;
}

.file-upload-btn {
  background-color: rgb(0, 255, 204);
  border-radius: 15px;
  width: 13rem;
  height: 2rem;
  text-align: center;
}

p {
  font-size: 1.3rem;
}

.regular {
  width: 13rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

button {
  background-color: rgba(240, 248, 255, 0.249);
  border-radius: 15px;
  width: 13rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  margin: 3px;
  
  color: rgba(84, 255, 84, 0.479);
  font-weight: 700;
  background-color: rgba(16, 190, 42, 0.121);
}

.name {
  border: 1px solid black;
  border-radius: 15px;
  width: 13rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  margin: 3px;
  background-color: rgba(240, 248, 255, 0.249);
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
    position: absolute;
    border: 1px black solid;
    border-radius: 10px;
  }
  .wrapper {
    margin-top: 30%;
    padding-bottom: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .dnd {
    border: 1px black solid;
    width: 12rem;
    height: 12rem;
    text-align: center;
    padding: 5rem;
    border-radius: 10px;
    margin: 10px;
  }

  .file-upload-btn {
    background-color: rgb(0, 255, 204);
    border-radius: 15px;
    width: 13rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
  }

  .regular {
    width: 13rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  button {
    
    border-radius: 15px;
    width: 13rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    margin: 3px;
    color: rgba(84, 255, 84, 0.479);
    font-weight: 700;
    background-color: rgba(16, 190, 42, 0.121);
  }
}
